*{
    padding: 0;
    margin:0;
    box-sizing: border-box;   
}
.center{
    display: flex;
    flex-wrap:wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.header{
    padding: 20px 0;
}
.logo{
    width: 50%;
}
.menu{
    width: 100%;
    text-align: right;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right:15px;
}